body{
	font-family:"Arial",sans-serif;
	font-size:14px;
	color:#fff;
	background:#333;
}

a{
	color:#fff;
	text-decoration: none;
}

h1{
	text-align: center;
}

.container{
	width:540px;
	margin:40px auto;
	overflow:auto;
}

.slider-inner{
	width:500px;
	height:300px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}
